<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>paquete.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPrincipal</servlet-name>
        <servlet-class>paquete.ServletPrincipal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCrear</servlet-name>
        <servlet-class>paquete.ServletCrear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertar</servlet-name>
        <servlet-class>paquete.ServletInsertar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>paquete.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarServlet</servlet-name>
        <servlet-class>paquete.EditarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPrincipal</servlet-name>
        <url-pattern>/ServletPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCrear</servlet-name>
        <url-pattern>/ServletCrear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertar</servlet-name>
        <url-pattern>/ServletInsertar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarServlet</servlet-name>
        <url-pattern>/EditarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
